// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#categories-wrapper {
    table{
        th, td{
            a{
                text-decoration: none;
                color: black;
                font-weight: bolder;
            }
        }
    }
}